{% extends 'base.html' %}
{% block content %}
<div class="page-header">
	<h1>{% if game == 'melee' %}Melee{% elif game == 'pm' %}Project M{% else %}Smash Bros for Wii U/3DS{% endif %} Power Ranking</h1>
</div>

<div class="row">
	<div class="col-md-6">
		<ul class="list-group">
		{% for smasher in power_ranking %}
			<li class="list-group-item"><b>{{ smasher.tag }} ({{ smasher.get_real_name }})</b><span class="badge alert-info">Elo 
	{% if game == 'melee' %}{{ smasher.melee }}{% elif game == 'pm' %}{{ smasher.pm }}{% else %}{{ smasher.smash4 }}{% endif %}
	</span></li>
		{% endfor %}
	</ul>
	</div>
</div>

{% endblock %}
